<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, intial-scale = 1.0">
    <link rel="stylesheet" href="/css/gamehosting.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
        integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <title>MATHQUARIUM</title>
</head>

<body>
    <div w3-include-html="/templates/navbar.html"></div>

    <h1 class="gameh1">Fishing Race</h1>
    <div class="game-container">
        <div class="content" id="game2p3"></div>
    </div>
    <div id="exit-button-div">
        <a href="/gameslideshow">
            <button type="button" class="exit-button" type="button">Exit</button>
        </a>    
    </div>

    <div w3-include-html="/templates/footer.html"></div>

    <script src="/js/includehtml.js"></script>
    <script>
        includeHTML();
    </script>

    <script src="/games/p5js/p5.min.js"></script>
    <script src="/games/p5js/p5.dom.js"></script>
    <script src="/games/p5js/p5.sound.min.js"></script>    

    <script src="/games/game2/Primary 3/sketch.js"></script>
    
    <script src="/games/game2/Primary 3/Game2QuestionsAnswersGenerator.js"></script>
    <script src="/games/game2/Primary 3/fishes.js"></script>
</body>


</html>