<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, intial-scale = 1.0">
    <link rel="stylesheet" href="/css/gamehosting.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
        integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <title>MATHQUARIUM</title>
</head>

<body onload="setIDs()">
    <div w3-include-html="/templates/navbar.html"></div>

    <h1 class="gameh1">Fish Market</h1>
    <div class="game-container">
        <div class="content" id="game3p1"></div>
        <!-- <div class="scoreboard">
            <div id="table">
                <div id="columnNames">

                </div>
                <div id="rows"></div>
            </div>

            <form method="post" action="/addEntry">
                <input id="game" type="hidden" value="0" name= "game">
                <input id="grade" type="hidden" value="0" name="grade">
                <div id="username">
                    <input id="username_input" type="text" name="name" value="" placeholder="Enter Username">
                </div>
                <div id="score">
                    <input id="score_input" type="text" name="name">
                </div>
                <div id="time">
                    <input id="time_input" type="text" name="name">
                </div>
                <div id="submitButton-container">
                    <input id="submitButton" type="submit" value="Create">
                </div>
            </form> -->

            

            <!-- <script>
                function yes(){
                    console.log(window.location.pathname)
                }
            </script>

            <script type="module"> 
                import * as dbMods from "../js/databaseManager.js"

            </script> -->


            <!-- <script>
                function addEntry(){
                    console.log(document.getElementById("username_input").value)
                    databaseName = "g" + localStorage.getItem('game') + "p" + localStorage.getItem('grade')
                    db = dBSp.opendb(databaseName)

                    dBSp.createdb(db, databaseName)

                    dBSp.closedb(db)
                }
            </script> -->

            <!-- <div id="levelButtons">
                <form method="get" action="/scoreboard">
                    <input type="submit" value="ScoreBoard">
                </form>
                <div id="previousLevel">
                    <a>
                        <button type="button">opendb</button>
                    </a>
                </div>
                <div id="restartLevel">
                    <a>
                        <button type="button">CreateDB</button>
                    </a>
                </div>
                <div id="nextLevel">
                    <a>
                        <button type="button">NextLevel</button>
                    </a>
                </div>
            </div>
        </div> -->
    </div> 

    <div id="exit-button-div">
        <a href="/gameslideshow">
            <button type="button" class="exit-button" type="button">Exit</button>
        </a>    
    </div>

    <div w3-include-html="/templates/footer.html"></div>

    <script src="/js/includehtml.js"></script>
    <script>
        includeHTML();
    </script>

    <script src="/games/p5js/p5.min.js"></script>
    <script src="/games/p5js/p5.dom.js"></script>
    <script src="/games/p5js/p5.sound.min.js"></script>
    
    <script src="/games/game3/sketch.js"></script>

    <script src="/games/game3/endScreen.js"></script>
    <script src="/games/game3/fish.js"></script>
    <script src="/games/game3/change.js"></script>
    <script src="/games/game3/register.js"></script>
    <!-- <script>
        function setIDs(){
            document.getElementById('game').value = localStorage.getItem('game')
            document.getElementById('grade').value = localStorage.getItem('grade')
        }
    </script> -->
</body>


</html>