<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device - width, intial-scale = 1.0">
  <link rel="stylesheet" href="/css/levels.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
  <title><%=title%></title>
  <script src="/js/websitestate.js"></script>
</head>

<body onload="setLevelPage()">
  <div w3-include-html="/templates/navbar.html"></div>
  <!-- Contains game name as well as different levels available -->
  <div id="aboutMain">
    <h1 id="Game_Name">Primary 1 Fishing Race</h1>
    <div class="grid-container">
      <div class="grid-item">
        <a href="/g1gamehosting" class="disabled" style="text-decoration: none;">
          <button type="button" id="locked" class="levelbtn">Level 1</button>
        </a>
      </div>
      <div class="grid-item">
        <a href="/g1gamehosting" class="disabled" style="text-decoration: none;">
          <button type="button" id="locked" class="levelbtn">Level 2</button>
        </a>
      </div>
      <div class="grid-item">
        <a href="/g1gamehosting" class="disabled" style="text-decoration: none;">
          <button type="button" id="locked" class="levelbtn">Level 3</button>
        </a>
      </div>
      <div class="grid-item">
        <a href="/g1gamehosting" class="disabled" style="text-decoration: none;">
          <button type="button" id="locked" class="levelbtn">Level 4</button>
        </a>
      </div>
      <div class="grid-item">
        <a href="/g1gamehosting" class="disabled" style="text-decoration: none;">
          <button type="button" id="locked" class="levelbtn">Level 5</button>
        </a>
      </div>
    </div>
  </div>
  
  <div w3-include-html="/templates/footer.html"></div>

  <script src="/js/includehtml.js"></script>
  <script>
    includeHTML();
  </script>
</body>

</html>