* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box
}


@font-face {
    src: url(/fonts/Sassoon-Primary.otf);
    font-family: sass;
}

/* overall html */
body {
    position: relative;
    height: 1000px;
    background-image: linear-gradient(#6EB5FF 0%, #007DFF 100%);
    background-size: cover;
    font-family: sass;
}

/*nav bar*/
nav {
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    background-color: #98D4FF;
    z-index: 1;
}

nav ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

nav li {
    width: 250px;
    display: inline-block;
}

nav li:hover {
    background-color: #7ec9ff;
}

nav a,
a:active {
    color: black;
    text-decoration: none;
}


i {
    margin-right: 10px;
    margin-left: 50px;
}

.game-container{
    /* background-color: white; */
    height: 800px;
    width: 800px;
    margin: auto;
    position: relative;
}

.gameh1 {
    font-size: 60px;
    text-indent: 15vw;
    margin-top: 2%;
    margin-bottom: 1%;
}

.content, .scoreboard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.scoreboard{
    z-index: 10;
}


#exit-button-div{
    text-align: left;
    float:left;
    margin-left:100px;
    margin-top:20px;
}

.exit-button {
    background-color: rgb(77, 255, 77);
    border: solid 2px black;
    color: black;
    width: 200px;
    height: 60px;
    border-radius: 10vh;
    padding: 16px 32px;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
}
.exit-button:hover {
    background-color: rgb(61, 226, 61);
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #98D4FF;
    color: black;
    text-align: center;
}