* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box
}


@font-face {
    src: url(fonts/Sassoon-Primary.otf);
    font-family: sass;
}

/* overall html */
body {
    position: relative;
    padding-bottom:8%;
    height: fit-content;
    min-height: 100vh;
    background-image: url('pictures/background-image.jpg');
    background-size: cover;
    font-family: sass;
}

/*nav bar*/
nav {
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    background-color: #98D4FF;
    z-index: 1;
}

nav ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

nav li {
    width: 250px;
    display: inline-block;
}

nav li:hover {
    background-color: #7ec9ff;
}

nav a,
a:active {
    color: black;
    text-decoration: none;
}


i {
    margin-right: 10px;
    margin-left: 50px;
}


#Game_Name {
    font-size: 60px;
    text-align: center;
    margin-top: 2%;
}

a.disabled {
    pointer-events: none;
}

/*LEVELS*/

/*grid container for levels choices*/
.grid-container {
    width: 15%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5vh;
    row-gap: 5vh;
    column-gap: 10vw;
    left: 16vw;
}

.grid-item #locked {
    border: 2px solid black;
    background-color: #BFBFBF;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px;
    padding: 5vw;
    place-items: center;
}

.grid-item #p1 {
    border: 2px solid black;
    background-color: #FFE86E;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px;
    padding: 5vw;
    place-items: center;
}

.grid-item #p1:hover {

    background-color: #fedc34;

}

.grid-item #p2 {
    border: 2px solid black;
    background-color: #46fe99;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px;
    padding: 5vw;
    place-items: center;
}

.grid-item #p2:hover {

    background-color: #21f380;

}

.grid-item #p3 {
    border: 2px solid black;
    background-color: #ff7878;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px;
    padding: 5vw;
    place-items: center;
}

.grid-item #p3:hover {

    background-color: #f65757;

}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #98D4FF;
    color: black;
    text-align: center;
}


.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  button.margin-right {
    margin-right: 20px;
  }